USE [master]
GO
/****** Object:  Database [QuanLyCuaHangDienTu2]    Script Date: 9/6/2024 12:04:08 PM ******/
CREATE DATABASE [QuanLyCuaHangDienTu2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCuaHangDienTu2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.FUANG\MSSQL\DATA\QuanLyCuaHangDienTu2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCuaHangDienTu2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.FUANG\MSSQL\DATA\QuanLyCuaHangDienTu2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCuaHangDienTu2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCuaHangDienTu2]
GO
/****** Object:  Table [dbo].[BaoHanh]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoHanh](
	[MaBaoHanh] [varchar](13) NOT NULL,
	[ThoiGianBaoHanh] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonDatHangNhaCungCap]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonDatHangNhaCungCap](
	[MaDonDatHang] [varchar](13) NOT NULL,
	[MaSanPham] [varchar](13) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [PK_ChiTietDonDatHangNCC] PRIMARY KEY CLUSTERED 
(
	[MaDonDatHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGiaoHang]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGiaoHang](
	[MaGiaoHang] [varchar](13) NOT NULL,
	[MaSanPham] [varchar](13) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaoHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [varchar](13) NOT NULL,
	[MaSanPham] [varchar](13) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietTraHang]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTraHang](
	[MaTraHang] [varchar](13) NOT NULL,
	[MaSanPham] [varchar](13) NOT NULL,
	[SoLuong] [int] NULL,
	[LyDo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTraHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(100,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHangNhaCungCap]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHangNhaCungCap](
	[MaDonDatHang] [varchar](13) NOT NULL,
	[MaNhaCungCap] [int] NULL,
	[NgayDatHang] [datetime] NULL,
	[TongTien] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoHang]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoHang](
	[MaGiaoHang] [varchar](13) NOT NULL,
	[MaHoaDon] [varchar](13) NULL,
	[NhanVienGiao] [varchar](13) NULL,
	[NgayGiao] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TinhTrang] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](13) NOT NULL,
	[MaNhanVien] [varchar](13) NULL,
	[MaKhachHang] [varchar](13) NULL,
	[MaKhuyenMai] [varchar](13) NULL,
	[NgayLapHoaDon] [date] NULL,
	[DiemDaDung] [int] NULL,
	[TongTien] [int] NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](13) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [varchar](20) NULL,
	[DiemTichLuy] [int] NULL,
	[TrangThai] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [varchar](13) NOT NULL,
	[TenChuongTrinh] [nvarchar](100) NULL,
	[GiaTriKhuyenMai] [float] NULL,
	[MoTa] [nvarchar](255) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[DieuKienApDung] [nvarchar](255) NULL,
	[GiaTriDonHangToiThieu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [int] IDENTITY(100,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](100) NULL,
	[NguoiLienHe] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](13) NOT NULL,
	[HinhAnh] [image] NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[MucLuong] [int] NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](13) NOT NULL,
	[MaBaoHanh] [varchar](13) NULL,
	[MaVach] [varchar](13) NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[MaDanhMuc] [int] NULL,
	[MaNhaCungCap] [int] NULL,
	[MoTa] [nvarchar](255) NULL,
	[GiaBan] [int] NULL,
	[NgaySanXuat] [date] NULL,
	[XuatXu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraHang]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraHang](
	[MaTraHang] [varchar](13) NOT NULL,
	[MaHoaDon] [varchar](13) NULL,
	[NgayTra] [date] NULL,
	[TongTien] [decimal](10, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTraHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauBaoHanh]    Script Date: 9/6/2024 12:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauBaoHanh](
	[MaYeuCauBaoHanh] [varchar](13) NOT NULL,
	[MaHoaDon] [varchar](13) NULL,
	[MaSanPham] [varchar](13) NULL,
	[NgayYeuCau] [date] NULL,
	[LyDo] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaYeuCauBaoHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BaoHanh] ([MaBaoHanh], [ThoiGianBaoHanh], [GhiChu]) VALUES (N'BH12T', 12, NULL)
INSERT [dbo].[BaoHanh] ([MaBaoHanh], [ThoiGianBaoHanh], [GhiChu]) VALUES (N'BH1T', 1, NULL)
INSERT [dbo].[BaoHanh] ([MaBaoHanh], [ThoiGianBaoHanh], [GhiChu]) VALUES (N'BH3T', 3, NULL)
GO
INSERT [dbo].[ChiTietDonDatHangNhaCungCap] ([MaDonDatHang], [MaSanPham], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'DH00001', N'SP00001', 10, 15000, 150000)
INSERT [dbo].[ChiTietDonDatHangNhaCungCap] ([MaDonDatHang], [MaSanPham], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'DH00001', N'SP00002', 10, 15000, 150000)
INSERT [dbo].[ChiTietDonDatHangNhaCungCap] ([MaDonDatHang], [MaSanPham], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'DH00001', N'SP00004', 10, 15000, 150000)
GO
INSERT [dbo].[ChiTietGiaoHang] ([MaGiaoHang], [MaSanPham], [SoLuong]) VALUES (N'GH00001', N'SP00005', 5)
INSERT [dbo].[ChiTietGiaoHang] ([MaGiaoHang], [MaSanPham], [SoLuong]) VALUES (N'GH00002', N'SP00004', 2)
INSERT [dbo].[ChiTietGiaoHang] ([MaGiaoHang], [MaSanPham], [SoLuong]) VALUES (N'GH00003', N'SP00005', 2)
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSanPham], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (N'HD00001', N'SP00004', 2, 1800000, 3600000, N'')
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSanPham], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (N'HD00001', N'SP00005', 5, 3000000, 15000000, N'Giao hàng')
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSanPham], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (N'HD00002', N'SP00003', 1, 200000, 200000, N'')
GO
INSERT [dbo].[ChiTietTraHang] ([MaTraHang], [MaSanPham], [SoLuong], [LyDo]) VALUES (N'TH00005', N'SP00002', 1, N'Hi')
INSERT [dbo].[ChiTietTraHang] ([MaTraHang], [MaSanPham], [SoLuong], [LyDo]) VALUES (N'TH00007', N'SP00005', 1, N'HU')
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (100, N'Thiết Bị Điện Tử', N'Thiết bị điện tử công nghệ cao')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (101, N'Điện Gia Dụng', N'Thiết bị điện gia dụng')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (102, N'Thiết Bị Văn Phòng', N'Thiết bị dùng cho văn phòng')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
INSERT [dbo].[DonDatHangNhaCungCap] ([MaDonDatHang], [MaNhaCungCap], [NgayDatHang], [TongTien], [TrangThai]) VALUES (N'DH00001', 100, CAST(N'2024-05-08T00:00:00.000' AS DateTime), 100450000, N'Đã nhập hàng vào kho')
INSERT [dbo].[DonDatHangNhaCungCap] ([MaDonDatHang], [MaNhaCungCap], [NgayDatHang], [TongTien], [TrangThai]) VALUES (N'DH00002', 101, CAST(N'2024-01-07T00:00:00.000' AS DateTime), 60000, N'Đã nhập hàng vào kho')
INSERT [dbo].[DonDatHangNhaCungCap] ([MaDonDatHang], [MaNhaCungCap], [NgayDatHang], [TongTien], [TrangThai]) VALUES (N'DH00003', 102, CAST(N'2024-06-08T00:00:00.000' AS DateTime), 1254000, N'Đã nhập hàng vào kho')
GO
INSERT [dbo].[GiaoHang] ([MaGiaoHang], [MaHoaDon], [NhanVienGiao], [NgayGiao], [DiaChi], [TinhTrang]) VALUES (N'GH00001', N'HD00001', N'NV00005', CAST(N'2024-08-08' AS Date), N'HEHE', N'Hoàn thành')
INSERT [dbo].[GiaoHang] ([MaGiaoHang], [MaHoaDon], [NhanVienGiao], [NgayGiao], [DiaChi], [TinhTrang]) VALUES (N'GH00002', N'HD00005', N'NV00003', CAST(N'2024-08-08' AS Date), N'hehe', N'Không hoàn thành')
INSERT [dbo].[GiaoHang] ([MaGiaoHang], [MaHoaDon], [NhanVienGiao], [NgayGiao], [DiaChi], [TinhTrang]) VALUES (N'GH00003', N'HD00025', NULL, CAST(N'2024-08-15' AS Date), N'heheh', NULL)
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaNhanVien], [MaKhachHang], [MaKhuyenMai], [NgayLapHoaDon], [DiemDaDung], [TongTien], [PhuongThucThanhToan]) VALUES (N'HD00001', N'NV00001', N'KH00006', N'BFD7', CAST(N'2023-08-07' AS Date), 0, 17298000, N'Tiền mặt')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaNhanVien], [MaKhachHang], [MaKhuyenMai], [NgayLapHoaDon], [DiemDaDung], [TongTien], [PhuongThucThanhToan]) VALUES (N'HD00002', N'NV00001', N'KH00006', N'BFD7', CAST(N'2024-08-08' AS Date), 0, 1860000, N'Tiền mặt')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaNhanVien], [MaKhachHang], [MaKhuyenMai], [NgayLapHoaDon], [DiemDaDung], [TongTien], [PhuongThucThanhToan]) VALUES (N'HD00003', N'NV00001', N'KH00006', N'BFD7', CAST(N'2024-08-08' AS Date), 0, 7254000, N'Tiền mặt')
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [NgaySinh], [SoDienThoai], [DiemTichLuy], [TrangThai]) VALUES (N'KH00001', N'Nguyễn Văn A', CAST(N'1990-01-01' AS Date), N'0123456789', 0, N'show')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [NgaySinh], [SoDienThoai], [DiemTichLuy], [TrangThai]) VALUES (N'KH00002', N'Trần Văn B', CAST(N'1991-02-01' AS Date), N'0123456790', 0, N'show')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [NgaySinh], [SoDienThoai], [DiemTichLuy], [TrangThai]) VALUES (N'KH00003', N'Phạm Văn C', CAST(N'1992-03-01' AS Date), N'0123456791', 0, N'show')
GO
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenChuongTrinh], [GiaTriKhuyenMai], [MoTa], [NgayBatDau], [NgayKetThuc], [DieuKienApDung], [GiaTriDonHangToiThieu]) VALUES (N'BACKTOSCHOOL', N'Chào đón học sinh đi học nhe', 1000000, N'Giảm trực tiếp', CAST(N'2024-07-08' AS Date), CAST(N'2024-07-27' AS Date), N'Áp dụng cho đơn hàng trên 30 triệu', 30000000)
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenChuongTrinh], [GiaTriKhuyenMai], [MoTa], [NgayBatDau], [NgayKetThuc], [DieuKienApDung], [GiaTriDonHangToiThieu]) VALUES (N'BD10', N'Sinh nhật công ty', 1000000, N'Giảm trực tiếp', CAST(N'2024-07-01' AS Date), CAST(N'2024-07-07' AS Date), N'Áp dụng cho đơn hàng trên 30 triệu', 30000000)
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenChuongTrinh], [GiaTriKhuyenMai], [MoTa], [NgayBatDau], [NgayKetThuc], [DieuKienApDung], [GiaTriDonHangToiThieu]) VALUES (N'BFD7', N'Black Friday', 0.07, N'Giảm phần trăm', CAST(N'2023-11-25' AS Date), CAST(N'2025-11-25' AS Date), N'Áp dụng cho tất cả sản phẩm', 0)
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [NguoiLienHe], [SoDienThoai], [Email], [DiaChi]) VALUES (100, N'Samsung', N'Nguyễn Văn Sang', N'0123456786', N'a@samsung.com', N'TPHCM')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [NguoiLienHe], [SoDienThoai], [Email], [DiaChi]) VALUES (101, N'Sony', N'Trần Văn Hiếu', N'0123456790', N'b@sony.com', N'HN')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [NguoiLienHe], [SoDienThoai], [Email], [DiaChi]) VALUES (102, N'LG', N'Phạm Văn Tài', N'0123456791', N'c@lg.com', N'DN')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [HinhAnh], [TenNhanVien], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [ChucVu], [MucLuong], [TaiKhoan], [MatKhau]) VALUES (N'NV00002', NULL, N'Trần Văn G', N'Nam', CAST(N'1981-02-01' AS Date), N'0123456799', N'g@company.com', N'Nhân viên bán hàng', 15000, N'banhang', N'4567')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HinhAnh], [TenNhanVien], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [ChucVu], [MucLuong], [TaiKhoan], [MatKhau]) VALUES (N'NV00003', NULL, N'Phạm Văn H', N'Nam', CAST(N'1982-03-01' AS Date), N'0123456800', N'h@company.com', N'Nhân viên quản lý hàng hóa', 12000, N'hanghoa', N'8910')
GO
INSERT [dbo].[SanPham] ([MaSanPham], [MaBaoHanh], [MaVach], [TenSanPham], [MaDanhMuc], [MaNhaCungCap], [MoTa], [GiaBan], [NgaySanXuat], [XuatXu]) VALUES (N'SP00001', N'BH1T', N'0123546203', N'Tivi Samsung', 101, 101, N'Tivi 4K 55 inch', 1600000, CAST(N'2022-01-01' AS Date), N'Hàn Quốc')
INSERT [dbo].[SanPham] ([MaSanPham], [MaBaoHanh], [MaVach], [TenSanPham], [MaDanhMuc], [MaNhaCungCap], [MoTa], [GiaBan], [NgaySanXuat], [XuatXu]) VALUES (N'SP00002', N'BH3T', N'0123546207', N'Tủ lạnh LG', 102, 102, N'Tủ lạnh Inverter 300L', 1200000, CAST(N'2022-02-01' AS Date), N'Hàn Quốc')
INSERT [dbo].[SanPham] ([MaSanPham], [MaBaoHanh], [MaVach], [TenSanPham], [MaDanhMuc], [MaNhaCungCap], [MoTa], [GiaBan], [NgaySanXuat], [XuatXu]) VALUES (N'SP00003', N'BH6T', N'0123546206', N'Tai nghe Sony', 103, 101, N'Tai nghe chống ồn', 200000, CAST(N'2022-03-01' AS Date), N'Nhật Bản')
GO
INSERT [dbo].[TraHang] ([MaTraHang], [MaHoaDon], [NgayTra], [TongTien]) VALUES (N'TH00005', N'HD00056', CAST(N'2024-09-06' AS Date), CAST(1200000.000 AS Decimal(10, 3)))
INSERT [dbo].[TraHang] ([MaTraHang], [MaHoaDon], [NgayTra], [TongTien]) VALUES (N'TH00006', N'HD00001', CAST(N'2024-09-06' AS Date), CAST(7500000.000 AS Decimal(10, 3)))
INSERT [dbo].[TraHang] ([MaTraHang], [MaHoaDon], [NgayTra], [TongTien]) VALUES (N'TH00007', N'HD00001', CAST(N'2024-09-06' AS Date), NULL)
GO
INSERT [dbo].[YeuCauBaoHanh] ([MaYeuCauBaoHanh], [MaHoaDon], [MaSanPham], [NgayYeuCau], [LyDo], [TrangThai]) VALUES (N'BH00001', N'HD00003', N'SP00004', CAST(N'2024-08-13' AS Date), N'hi', N'Đã hoàn tất')
INSERT [dbo].[YeuCauBaoHanh] ([MaYeuCauBaoHanh], [MaHoaDon], [MaSanPham], [NgayYeuCau], [LyDo], [TrangThai]) VALUES (N'BH00002', N'HD00003', N'SP00004', CAST(N'2024-08-13' AS Date), N'hi', N'Đã hoàn tất')
INSERT [dbo].[YeuCauBaoHanh] ([MaYeuCauBaoHanh], [MaHoaDon], [MaSanPham], [NgayYeuCau], [LyDo], [TrangThai]) VALUES (N'BH00003', N'HD00003', N'SP00004', CAST(N'2024-09-05' AS Date), N'hi', N'Chờ xử lý')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__0389B7BDF58D3255]    Script Date: 9/6/2024 12:04:08 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__D5B8C7F06B3EC50C]    Script Date: 9/6/2024 12:04:08 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__8BBF4A1CE9939CA7]    Script Date: 9/6/2024 12:04:08 PM ******/
ALTER TABLE [dbo].[SanPham] ADD UNIQUE NONCLUSTERED 
(
	[MaVach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [MaKhuyenMai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[YeuCauBaoHanh] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDonDatHangNhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDatHangNCC_DonDatHangNCC] FOREIGN KEY([MaDonDatHang])
REFERENCES [dbo].[DonDatHangNhaCungCap] ([MaDonDatHang])
GO
ALTER TABLE [dbo].[ChiTietDonDatHangNhaCungCap] CHECK CONSTRAINT [FK_ChiTietDonDatHangNCC_DonDatHangNCC]
GO
ALTER TABLE [dbo].[ChiTietDonDatHangNhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDatHangNCC_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonDatHangNhaCungCap] CHECK CONSTRAINT [FK_ChiTietDonDatHangNCC_SanPham]
GO
ALTER TABLE [dbo].[ChiTietGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGiaoHang_GiaoHang] FOREIGN KEY([MaGiaoHang])
REFERENCES [dbo].[GiaoHang] ([MaGiaoHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGiaoHang] CHECK CONSTRAINT [FK_ChiTietGiaoHang_GiaoHang]
GO
ALTER TABLE [dbo].[ChiTietGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGiaoHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGiaoHang] CHECK CONSTRAINT [FK_ChiTietGiaoHang_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietTraHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTraHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietTraHang] CHECK CONSTRAINT [FK_ChiTietTraHang_SanPham]
GO
ALTER TABLE [dbo].[ChiTietTraHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTraHang_TraHang] FOREIGN KEY([MaTraHang])
REFERENCES [dbo].[TraHang] ([MaTraHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietTraHang] CHECK CONSTRAINT [FK_ChiTietTraHang_TraHang]
GO
ALTER TABLE [dbo].[DonDatHangNhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHangNhaCungCap_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonDatHangNhaCungCap] CHECK CONSTRAINT [FK_DonDatHangNhaCungCap_NhaCungCap]
GO
ALTER TABLE [dbo].[GiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_GiaoHang_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[GiaoHang] CHECK CONSTRAINT [FK_GiaoHang_HoaDon]
GO
ALTER TABLE [dbo].[GiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_GiaoHang_NhanVien] FOREIGN KEY([NhanVienGiao])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[GiaoHang] CHECK CONSTRAINT [FK_GiaoHang_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhuyenMai] FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([MaKhuyenMai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhuyenMai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_BaoHanh] FOREIGN KEY([MaBaoHanh])
REFERENCES [dbo].[BaoHanh] ([MaBaoHanh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_BaoHanh]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
ALTER TABLE [dbo].[TraHang]  WITH CHECK ADD  CONSTRAINT [FK_TraHang_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TraHang] CHECK CONSTRAINT [FK_TraHang_HoaDon]
GO
ALTER TABLE [dbo].[YeuCauBaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_BaoHanhYeuCau_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YeuCauBaoHanh] CHECK CONSTRAINT [FK_BaoHanhYeuCau_HoaDon]
GO
ALTER TABLE [dbo].[YeuCauBaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBaoHanhYeuCau_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YeuCauBaoHanh] CHECK CONSTRAINT [FK_ChiTietBaoHanhYeuCau_SanPham]
GO
USE [master]
GO
